.speech {
  .artist-speech {
    display: flex;
    margin-left: 5rem;
    max-width: calc(100% - 7rem);
    @media (max-width: $tabletPortraitPlus) {
      margin: 0 1rem;
      max-width: calc(100% - 2rem);
    }
  }

  .artist {
    width: 150px;
    @media (max-width: $tabletPortraitPlus) {
      max-width: 30%;
    }
  }

  .speech {
    background: $cream;
    border-radius: 30px;
    color: $teal_dark;
    font-size: 1rem;
    max-height: 100px;
    padding: 12px;
    position: relative;
    text-align: center;
    width: 320px;
    @media (max-width: $tabletPortraitPlus) {
      margin-top: -20px;
      max-height: 110px;
      max-width: 62%;
    }
  }

  .speech:before {
    content: "";
    position: absolute;
  }

 .right.speech:before {
    border-bottom: 20px solid $cream;
    border-left: 20px solid transparent;
    border-right: 20px solid $cream;
    border-top: 20px solid transparent;
    left: -25px;
    top: 32px;
  }
  .left.speech:before {
    border-bottom: 20px solid $cream;
    border-left: 20px solid $cream;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    right: -25px;
    top: 40px;
  }

  &.dismissable-toast.overlay {
    background-color: rgba(256, 256, 256, 0.65);
    inset: 0px;
    margin-top: 10rem;
    position: fixed;
    width: 100%;
    .content {
      align-items: flex-end;
      display: flex;
      height: 100%;
      justify-content: center;
      margin: 0 1rem;
      position: relative;
      animation: slide-in-from-bottom 0.7s;
    }
    .speech {
      max-height: 120px;
      width: 60%
    }
    .speech p {
      font-size: 1.2rem;
      @media (max-width: $tabletPortraitPlus) {
        font-size: 1rem;
      }
    }
    .artist {
      width: 40%;
    }
    button {
      background-color: $plum;
      bottom: 0;
      color: $cream;
      font-weight: 800;
      margin-bottom: -1.2rem;
      margin-left: -1.3rem;
      padding: 0.3rem 0.8rem;
      position: absolute;
    }
  }
}

@keyframes slide-in-from-bottom {
    from { bottom: -10rem; opacity: 0 }
    to { bottom: 0; opacity: 1; }
}
