// Brand Colours
$white: #ffffff;
$cream: #f9f2ec;
$orange: #ff7f30;
$orange_dark: #cc5e20;
$blue: #425cc7;
$green: #095157;
$purple: #532b3a;
$grey_dark: #000000e6;
$grey_light: #3c3c3c;
$black: #00000033;

$smallPhoneOnly: 349px;
$phonePlus: 350px;
$tabletPortraitPlus: 600px;
$tabletLandscapePlus: 900px;
$desktopPlus: 1200px;

//$gutterSmall: 1rem;
//$gutterLarge: 2rem;

//
/* Fonts */
//
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

//
/* Reset adapted from https://github.com/hankchizljaw/modern-css-reset */
//

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol,
legend {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
fieldset,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
* {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//
/* Global defaults */
//

body {
  background-color: $purple;
  color: $cream;
  font-family: Poppins, sans-serif;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-style: normal;
  font-weight: bold;
}

a {
  &:focus {
    outline: 3px solid $orange;
    outline-offset: 3px;
  }
}

button {
  border-radius: 0;
  border: none;

  &:focus {
    outline: 3px solid $orange;
    outline-offset: 3px;
  }
}
