/**
 * Page sections
 */

.page {
  align-items: center;
  background-color: $pink;
  color: $plum;
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  font-size: 100%;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

header {
  background-color: $teal;
  flex-basis: 10rem;
  width: 100%;

  img {
    display: block;
    height: 6rem;
  }
}

main {
  flex-grow: 1;

  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;
  }

  h2 {
    font-size: 1.8rem;
    margin: 1rem 0;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

footer {
  background-color: $plum;
  height: 4rem;
  margin-top: 2rem;
  width: 100%;

  a {
    color: $cream;
    display: block;
    font-weight: 500;
    text-decoration: none;
  }
}

/**
 * Components
 */

// Container element to constrain page max-width
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 2rem;
}

// Utility styles for large page sections
.page-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.play {
  background-color: $plum;
  border-radius: 0;
  border: none;
  color: $cream;
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 2rem auto;
  padding: 0.5rem;
}

.help {
  color: $cream;
  background-color: $teal;
  border: none;
  padding: 0.5rem;
  margin: 1rem 0;

  h2 {
    font-size: 1rem;
    margin: 0;
  }
}

.fill-height {
  align-self: flex-start;
}

.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
