/**
 * Page sections
 */

.page {
  align-items: center;
  background-color: $pink;
  color: $plum;
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  font-size: 100%;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

header {
  background-color: $teal;
  flex-basis: 10rem;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
  }

  a {
    display: block;
    color: $cream;
    font-size: 2rem;
    text-decoration: none;

    &:focus {
      outline: 3px solid $pink;
      outline-offset: 3px;
    }
  }

  img {
    display: block;
    height: 6rem;
  }

  .more-games {
    align-self: end;
  }
}

main {
  flex-grow: 1;

  h1 {
    font-size: 2.5rem;
    margin: 2rem 0;
    text-align: center;
  }

  h2 {
    font-size: 1.8rem;
    margin: 1rem 0;
    text-align: center;
  }

  .card-set-choices {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    li a {
      background-color: $cream;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      font-weight: bold;
      height: 100%;
      -webkit-box-pack: justify;
      justify-content: space-between;
      text-align: center;
      text-decoration: none;
      overflow: auto;
      padding: 6px;

      img {
        width: 16rem;
      }
    }

    li a.is-selected,
    li a:active {
      border: solid 6px $plum;
    }

    li a:hover,
    li a:focus {
      border: solid 6px $turquoise;
    }
  }
}

footer {
  background-color: $plum;
  height: 4rem;
  margin-top: 2rem;
  width: 100%;

  a {
    color: $cream;
    display: block;
    font-weight: 500;
    text-decoration: none;
  }
}

/**
 * Components
 */

// Container element to constrain page max-width
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 2rem;
}

// Utility styles for large page sections
.page-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.text-center {
  text-align: center;
}

.choose-again,
.restart,
.play {
  background-color: $plum;
  border-radius: 0;
  border: none;
  color: $cream;
  font-weight: bold;
  padding: 0.5rem;
}

.choose-again,
.restart {
  font-size: 1rem;
  margin: 1rem;
}

.play {
  display: block;
  font-size: 1.8rem;
  margin: 2rem auto;
}

.help {
  color: $cream;
  background-color: $teal;
  border: none;
  padding: 0.5rem;
  margin: 1rem 0;

  h2 {
    font-size: 1rem;
    margin: 0;
  }
}

.fill-height {
  align-self: flex-start;
}

.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
